*{
    font-family: 'Inter', sans-serif;
}

.title1{
    font-size: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: var(--color-gray1);
}

.title2{
    font-size: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--color-gray4);
}

.price1{
    font-size: 600;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: var(--color-primary);
}

.price2{
    font-size: 600;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: var(--color-gray2);
}

.text1{
    font-size: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--color-gray2);
}

.text2{
    font-size: 600;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: var(--color-gray1);
}